* {
    margin: 0;
}

#registration {
    height: 90vh;
    background-color: var(--l-blue);
}

#reg-box {
    position: relative;
    top: 200px;
    margin: 0 auto;
    max-width: 800px;
    border: 5px solid var(--d-blue);
    background-color: var(--white);
}

#reg-tabs {
    display: flex;
}

.reg-tab {
    border: none;
    min-width: 200px;
    padding: 10px 0;
    background-color: var(--white);
}

.first-tab{
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    background-color: var(--white);
    border: 2px solid black;
}

.tab-button {
    background-color: var(--d-blue);
    border: none;
    padding: 10px 0;
    font-weight: bold;
}

#reg-inputs {
    min-height: 600px;
    max-height: 600px;
    padding-top: 25px;
}

#info-form, #card-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info-label {
    display: block;
    text-align: center;
    padding-top: 10px;
}

.info-input {
    text-align: center;
}

#plan-form ul {
    list-style: none;
    padding: 0;
}

#plan-form {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: left;
}

#plan-form input {
    display: block;
}