:root {
    --l-blue: #274265;
    --ll-blue: #7cc0cd;
    --beige: #e4dad0;
    --red: #b02d27;
    --white: #E1e1e1;
    --d-blue: #1c2b4a;
}

body {
    color: var(--d-blue);
    margin: 0;
}

/* line */
.line {
    background-color: var(--red);
    height: 5px;
}

.line-icon {
    position: relative;
    top: -500%;
    left: 49%;
    max-width: 50px;
    display: inline;
}

/* nav-bar */
#nav-bar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: var(--red);
    color: var(--beige);
    z-index: 10;
}

#nav-header {
    margin: 0;
    padding: 25px;
}

nav {
    padding-top: 25px;
    padding-right: 20px;
}

nav a {
    padding-right: 20px;
}

/* header */
#header {
    height: 400px;
    padding-top: 300px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--white);
    background-image: url("Assets/pawns_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 1cm;
}

h1 {
    font-size: 48px;
}

#sub-header {
    color: var(--red);
    margin-top: 0;
    padding-top: 0;
}

/* introduction info */
#introduction {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10%;
    background-color: var(--l-blue);
}

.intro-box {
    margin: 25px 0;
    min-width:25%;
    max-width: 25%;
    min-height: 300px;
    border: 6px solid var(--ll-blue);
    background-color: var(--white);
    border-radius: 5px;
}

h3 {
    text-align: center;
    font-size: 26px;
}

.intro-box p {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 22px;
}

#sign-up {
    margin-top: 50px;
    font-size: 18px;
    color: var(--beige);
    text-align: center;
}

#sign-up-button {
    color: var(--d-blue);
    border: 2px solid var(--red);
    padding: 5px;
    background-color: var(--white);
    cursor: pointer;
}

/* objective */
#objective {
    padding: 200px 0px;
    display: block;
    width: 100%;
    background-color: var(--d-blue);
    color: var(--beige);
}

#objective p {
    font-size: 20px;
    padding-right: 25%;
    padding-left: 25%;
}

/* footer */
#footer {
    background-color: var(--red);
    height: 250px;
    color: var(--beige);
}

#links {
    text-align: center;
    padding-top: 100px;
}

#links a {
    text-decoration: none;
    color: var(--beige);
    font-size: 20px;
    padding-right: 10px;
}

#footer-header {
    margin: 0;
    font-size: 40px;
    text-align: center;
}

#footer p {
    margin: 0;
    padding-top: 40px;
    padding-right: 25px;
    text-align: end;
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}