:root {
    --l-blue: #274265;
    --ll-blue: #7cc0cd;
    --beige: #e4dad0;
    --red: #b02d27;
    --white: #E1e1e1;
    --d-blue: #1c2b4a;
}

body {
    color: var(--d-blue);
    margin: 0;
}

/* line */
.line {
    background-color: var(--red);
    height: 5px;
}

.line-icon {
    position: relative;
    top: -500%;
    left: 49%;
    max-width: 50px;
    display: inline;
}

/* nav-bar */
#nav-bar {
    position: fixed;
    top: 0;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: var(--red);
    color: var(--beige);
}

#nav-header {
    margin: 0;
    padding: 25px;
}

nav {
    padding-top: 25px;
    padding-right: 20px;
}

nav a {
    padding-right: 20px;
}

/* header */
#header {
    height: 400px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--white);
    background-image: url("Assets/pawns_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 1cm;
}

h1 {
    font-size: 44px;
}
h2:not(#nav-header) {
    color: var(--red);
    margin-top: 0;
    padding-top: 0;
}

/* introduction info */
#introduction {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10%;
    background-color: var(--l-blue);
}

.intro-box {
    margin: 25px 0;
    min-width:25%;
    max-width: 25%;
    min-height: 300px;
    border: 6px solid var(--ll-blue);
    background-color: var(--white);
    border-radius: 5px;
}

.intro-box h3 {
    text-align: center;
    font-size: 26px;
}

.intro-box p {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 22px;
}

#sign-up {
    margin-top: 50px;
    font-size: 18px;
    color: var(--beige);
    text-align: center;
}

#sign-up-button {
    color: var(--d-blue);
    border: 2px solid var(--red);
    padding: 5px;
    background-color: var(--white);
    cursor: pointer;
}

/* objective */
#objective {
    padding: 100px 200px;
    display: block;
    width: 100;
    background-color: var(--ll-blue);
}

/* footer */
#footer {
    display: flex;
    background-color: var(--red);
}